.container10 {
    height: 50vh;
    width: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta {
    height: 250px;
    width: 200px;
    background-color: black;
    border-radius: 10%;
    box-shadow: 16px 14px 20px black;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta::before {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    background-image: conic-gradient(red 20deg, transparent 120deg);
    animation: rotar 2s linear infinite;
}

@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

.tarjeta::after{
    content:"";
    position: absolute;
    height: 240px;
    width: 190px;
    background-color: black;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px black;
}
